@import "~@angular/flex-layout/mq";
@import "../../material-overrides";
@import "../forms.scss";

.wrapper {
  background: linear-gradient(
    180deg,
    rgba(25, 118, 210, 0.54),
    rgba(25, 118, 210, 0.96)
  );
  min-height: 100vh;
  > * {
    min-height: 100vh;
  }
}

main {
  padding: $inset-xl 0;
  background-color: $card;
 
  margin: $outset-l 0;
  border-radius: 16px;
  box-shadow: 0 7px 64px 0 $shadow;
  > div:first-of-type {
    margin-top: - $outset-xl; //pull back for pparent padding
    height: 4px; // reserve progress-bar height
    margin-bottom: $outset-xl - 4px; // return back -64 + 4
    padding: 0 $inset-s; // radius
  }
}

@include layout-bp(xs) {
  .wrapper {
    background: none;
  }
  main {
    margin: unset;
    border-radius: unset;
    box-shadow: none;
  }
}

header {
  img {
    width: 300px;
    height: 150px;
    margin-bottom:$outset-m !important;
  }
  text-align: center;
  margin-bottom: $outset-l;
  .error {
    color: $warn;
  }
}

footer {
  text-align: center;
  margin-top: $outset-l;
}


form button {
  margin-top: $outset-l;
  padding: $inset-xs;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba($primary, 0.05) !important;
}
