<main>
  <div style="margin-bottom: 44px;" fxFlex="30" fxLayout="row center" fxLayoutAlign="center center">
      <p style="margin-bottom: 44px;" fxFlex="100" fxLayout="row center" fxLayoutAlign="center center">
          <b>You will be disconnecred from platform!</b>
      </p>
      <div fxFlex="100" fxLayout="row center" fxLayoutAlign="center center">
          <button mat-stroked-button color="primary">Abort</button>
      </div>
  </div>
  <mat-progress-spinner mode="indeterminate" diameter={{this.diameter}} ></mat-progress-spinner>
  <p style="margin-top: 44px;">Disconnecting...</p>
</main>
  